attrs==21.4.0
base58==2.1.1
certifi==2021.10.8
charset-normalizer==2.0.11
ECPy==1.2.5
future==0.18.2
hidapi==0.11.0.post2
idna==3.3
iniconfig==1.1.1
ledgerblue==0.1.41
ledgercomm==1.1.0
packaging==21.3
Pillow==9.0.0
pluggy==1.0.0
protobuf==3.19.4
py==1.11.0
pycryptodomex==3.14.0
pyparsing==3.0.7
pytest==6.2.5
python-axolotl-curve25519==0.4.1.post2
python-u2flib-host==3.0.3
requests==2.27.1
toml==0.10.2
urllib3==1.26.8
websocket-client==1.2.3
